{% extends 'base.html.twig' %}

{% block body %}


    <h1 style="text-align: center; color: #D60B52;">Ou partir ?</h1>


    <div>
        <img src="#" style="float: left;" />

        <p>« Puis-je partir en vacances à l’étranger, au bord de la mer ou à la montagne ? ». Lorsqu’elle est formulée par un asthmatique, cette question qui peut surprendre a un sens bien particulier. En cette journée mondiale de l’asthme, l’Association Asthme et Allergies se veut rassurante et prodigue des conseils simples pour voyager en toute sérénité.</p>

        <p>Qu’ils se fassent en voiture, en train, en bateau ou en avion, les voyages ne sont pas dénués de risque pour les asthmatiques. L’asthme pourtant n’est pas un obstacle aux vacances… s’il est bien contrôlé …</p>

        <h4>Votre asthme est-il sous contrôle ?</h4>
        <p>L’observance du traitement prescrit par le médecin est impérative. Si vous ne l’avez pas consulté depuis longtemps, prenez rendez-vous quelques semaines avant le départ. Il pourra contrôler votre fonction respiratoire. En cas de besoin, il ajustera votre traitement et vous conseillera sur votre destination;</p>

        <h4>Vacances, j’oublie tout… sauf mon traitement !</h4>
        <p>Un slogan facile à retenir . L’Association rappelle ainsi qu’il est indispensable « d’emporter une quantité suffisante de médicaments prescrits, pour toute la durée du voyage, surtout si vous partez à l’étranger ». Et cela comprend aussi le trajet… et ses impondérables. Prévoyez donc large, avec par exemple de quoi tenir une petite semaine supplémentaire… Conservez toujours à portée de main une trousse d’urgence comprenant les traitements nécessaires en cas de crise. A l’étranger, gardez une copie de l’ordonnance de votre médecin –éventuellement traduite dans la langue locale – et l’emballage de vos médicaments. Ils seront bien utiles si vous devez consulter un praticien ne parlant pas français ;</p>

        <h4>Adaptez vos vacances à votre rythme.</h4>
        <p>Si vous souffrez d’un asthme sévère, évitez les séjours trop sportifs, trop fatigants. Si vous devez pratiquer avec un moniteur, prévenez-le de votre état de santé. Rassurez-vous, il s’adaptera à votre rythme et à vos possibilités. Et n’oubliez pas que l’asthme n’est en rien une contre-indication au sport. Il est en fait souvent recommandé… à condition de de le pratiquer avec mesure.</p>

        <h4>Et si vous êtes allergique ?</h4>
        <p>Toute une série de critères doit être prise en compte : la date du départ, la destination… Le lieu de vos vacances, la période où vous les prendrez doivent être déterminées de telle sorte que vous pourrez toujours respirer correctement.</p>
        <ul>
            <li>A la campagne, tenez compte des risques allergiques que représentent les pollens et les animaux. Si vous le pouvez, faites aérer la maison avant votre arrivée ;</li>
            <li>Au bord de la mer, les contraintes sont moins nombreuses. Evitez toutefois les plages trop venteuses. Le grand vent en effet, coupe le souffle ;</li>
            <li>A la montagne, sachez les acariens responsables des allergies à la poussière ne survivent pas au-delà de la barrière des 1 500 m .. C’est donc une bonne destination a priori. Cependant, en cas d’insuffisance respiratoire associée à l’asthme, choisissez une station de basse ou de moyenne altitude.</li>
        </ul>

        <p>Pour aller plus loin : consultez la brochure « Asthmatiques, des conseils pratiques pour bien voyager ! » publiée par l’Association Asthme et Allergies.</p>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
