{% extends 'base.html.twig' %}

{% block body %}

    <h1  style="text-align: center; color: #D60B52;">L'asthme sévère</h1>

    <iframe width="1080" height="560" style="margin: auto; display: block;" src="https://www.youtube.com/embed/SQDkt_vFnmI" frameborder="0" allowfullscreen></iframe>

{% endblock %}

{% block stylesheets %}

{% endblock %}
