{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asthme ?</h1>
    <p>blabla</p>

    <p>
        <a href="https://asthme.baptiste-mairesse.me/?source=hp&ei=8wkQWra4HsKUaNyBgrgP&q=asthme+prise+de+poids&oq=asthme+prise+de+poids&gs_l=psy-ab.3..0i22i30k1.564.4175.0.4718.22.17.0.0.0.0.469.1713.4j4j2j0j1.11.0....0...1.1.64.psy-ab..11.11.1700.0..0j0i131k1.0.PiDg707wGEA">test recherche google</a>
    </p>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
