{% extends 'base.html.twig' %}

{% block body %}
    <div style="position: absolute; top: 50px; left: 0; right: 0; bottom: 0;">
        <iframe src="https://www.doctolib.fr/pneumologue/?latitude=50.6033816&longitude=3.0319343" style="width: 50%; height: 1000px;"></iframe>
        <iframe src="https://www.mondocteur.fr/recherche/pneumologue.html" style="width: 50%; float: right; height: 1000px;"></iframe>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
