{% extends 'base.html.twig' %}

{% block body %}

    <h1  style="text-align: center; color: #D60B52;">Les traitements</h1>

    <video controls style="width: 100%;">
        <source src="{{ asset('videos/treatment.mp4') }}" type="video/mp4">
    </video>
{% endblock %}

{% block stylesheets %}

{% endblock %}
